<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anemia Sense</title>
  <link rel="stylesheet" href="../static/about.css">
</head>
<body>
  <div class = "top">
    <div class = "left">
      <label class = "text">Anemia Sense

    </div>


    <div class = "middle">
      <div class = "home">
        <a href= "{{ url_for('home') }}"><button>Home</button></a>
      </div>
      <div class = "about">
        <a href = "{{ url_for('about') }}"><button>About</button></a>
      </div>
      <div class = "predict">
        <a href = "{{ url_for('predict') }}"><button>Predict</button></a>
      </div>
      <div class = "contact">
        <a href = "{{ url_for('contact') }}"><button>Contact</button></a>
      </div>
    </div>



    <div class = "right">
      <div class = "check">
        <a href = "{{ url_for('predict') }}"><button>
          Check
        </button></a>
      </div>
    </div>
  </div>
  <br><br><br>
  <div class = "container1">
    <br><br>
    <h2 class = "heading-content">Anemia</h2>
    <p class = "content-container">
      Anemia is a condition where your body doesn't produce enough healthy red blood cells or hemoglobin.<br><br>
      <b>Symptoms:</b> fatigue, weakness, shortness of breadth, pale skin.<br><br>
      <b>Causes:</b> nutritional deficiencies, diseases, blood loss. Treatments vary.<br><br>
    </p>
    <p class = "links">
      For more information visit: <a href="https://en.wikipedia.org/wiki/Anemia" target="_blank">Anemia</a>
    </p> 
  </div>

    <hr class = "division">

  <div class = "mega-container">  

    <div class = "container2">
      <br><br>
      <h2 class = "heading-content">Hemoglobin</h2>
      <p class = "content-container1">
        Hemoglobin is a protein in red blood cells that carries oxygen.<br> 
        The hemoglobin test measures how much hemoglobin is in your blood. 
        Hemoglobin is the most important component of red blood cells.
        It is composed of a protein called heme, which binds oxygen.
        
      </p>
      <p class = "links">
        For more information visit: <a href="https://en.wikipedia.org/wiki/Hemoglobin" target="_blank">Hemoglobin</a>
      </p> 
    </div>

    <div class = "container3">
      <br><br>
      <h2 class = "heading-content">MCH</h2>
      <p class = "content-container1">
        MCH stands for Mean Corpuscular Hemoglobin, a measurement of the average amount of hemoglobin in a red blood cell. 
        It's a part of a complete blood count (CBC).
      </p>
      <p class = "links">
        For more information visit: <a href="https://en.wikipedia.org/wiki/Mean_corpuscular_hemoglobin" target="_blank">MCH</a>
      </p> 
    </div>

    <div class = "container4">
      <br><br>
      <h2 class = "heading-content">MCHC</h2>
      <p class = "content-container1">
        Mean corpuscular hemoglobin concentration (MCHC) is a blood test that measures the average amount of hemoglobin in red blood cells. 
        It's part of a complete blood count (CBC). 
      </p>
      <p class = "links">
        For more information visit: <a href="https://en.wikipedia.org/wiki/Mean_corpuscular_hemoglobin_concentration" target="_blank">MCHC</a>
      </p> 
    </div>

    <div class = "container5">
      <h2 class = "heading-content"><br>MCV</h2>
      <p class = "content-container1">
        MCV stands for mean corpuscular volume. 
        An MCV blood test measures the average size of your red blood cells. 
        Red blood cells carry oxygen from your lungs to every cell in your body.
      </p>
      <p class = "links">
        For more information visit: <a href="https://en.wikipedia.org/wiki/Mean_corpuscular_volume" target="_blank">MCV</a>
      </p> 
    </div>

  </div>


</body>
</html>