<!DOCTYPE html>
<html lang="en">
<head>
  <link rel = "stylesheet" href = "../static/home.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anemia Sense</title>
</head>
<body>
  <div class = "top">
    <div class = "left">
      <label class = "text">Anemia Sense

    </div>


    <div class = "middle">
      <div class = "home">
        <a href= "{{ url_for('home') }}"><button>Home</button></a>
      </div>
      <div class = "about">
        <a href = "{{ url_for('about') }}"><button>About</button></a>
      </div>
      <div class = "predict">
        <a href = "{{ url_for('predict') }}"><button>Predict</button></a>
      </div>
      <div class = "contact">
        <a href = "{{ url_for('contact') }}"><button>Contact</button></a>
      </div>
    </div>



    <div class = "right">
      <div class = "check">
        <a href = "{{ url_for('predict') }}"><button>
          Check
        </button></a>
      </div>
    </div>
  </div>


  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br>

  <h1 class = "heading">Anemia Predictor: Your Health Guardian</h1>
  <h3 class = "heading2">Empowering you with early detection for better management and healthier living.</h3>



</body>
</html>